// File: _typhography.scss
// This file defines font styling and sizing.

/*--------------------------------------------------------------
# Global font
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
    color: $color-text-body-primary;
    font-family: $font-primary;
    line-height: $font-line-height-body;
}

/*--------------------------------------------------------------
# Heading sizing and styling
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    font-family: $font-secondary;
    color: $color-text-heading-primary;
}

h1 {
    font-size: 3rem;

    @include media-breakpoint-down(sm) {
        font-size: 2rem;
    }
}

h2 {
    font-size: 2.5rem;

    @include media-breakpoint-down(sm) {
        font-size: 1.75rem;
    }
}

h3 {
    font-size: 1.75rem;

    @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
    }
}

h4 {
    font-size: 1.5rem;

    @include media-breakpoint-down(sm) {
        font-size: 1.25rem;
    }
}

h5 {
    font-size: 1.25rem;

    @include media-breakpoint-down(sm) {
        font-size: 1.125rem;
    }
}

h6 {
    font-size: 1.125rem;
}
